html{
    background-color: aqua;
    text-align: center;
}
.description{
    text-align: left;
    border: 1px solid grey ;
    border-width: 20 px;
    border-left: 20 px;
    border-right: 20 px;
    border-radius: 20px;
}
.option-list{
    font-size: larger;
}